@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  font-family: "Public Sans";
} */
.apexcharts-tooltip {
  background: #222121;
  color: orange;
}

body {
  font-family: "Archivo", sans-serif;
  /* overflow: hidden; */
}
body {
  font-family: "Archivo", sans-serif;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
