@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@tailwind base;
@layer base {
  div[tabindex="-1"] {
    @apply max-w-xs min-w-[320px] md:min-w-[450px];
  }
  div[id=":r8m:"] {
    @apply md:min-w-[180px];
  }
}
@tailwind components;
@tailwind utilities;
/* * {
  font-family: "Public Sans";
} */
.apexcharts-tooltip {
  background: #222121;
  color: orange;
}

* {
  font-family: "Roboto" !important;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
